*{
  margin: 0;
  padding: 0;
}
.show{
  display: block;
}
.hide{
  display: none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(92,110,133,.3);
    border-radius: 4px;
    outline: 0;
    outline-offset: -2px;
    border: none;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 0;
}
.box {
  display: -webkit-flex;
  /* Safari */
  display: flex;
}
.clear:after{
   content: '';
   display: block;
   height: 0;
   clear:both;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
}
.page-wrap {
  position: fixed;
  background-color: #000000;
  background: url('../img/index_bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  color: white;
  min-height: 460px;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.home-wrap {
  margin: 0 auto;
  padding: 40px 0 20px;
  width: 1280px;
  border-radius: 5px;
}
.index-bar {
  margin-top: 20px;
}
.index-bar a {
  color: #cccccc;
}
.index-bar .btn {
  color: #fff;
  padding: 6px 30px;
  font-size: 18px;
}
#modal-login {
  height: 200px;
  width: 200px;
  background: red;
}
.modal-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
.modal-bg .modal-wrap {
  width: 500px;
  background: #fff;
  border-radius: 8px;
  position: fixed;
  top: 100px;
  left: 50%;
  margin-left: -250px;
}
.home-list-wrap {
  float: left;
  width: 280px;
  margin-left: 80px;
}
.home-list-wrap .user-bar {
  height: 100px;
}
.home-list-wrap .user-bar img,
.home-list-wrap .user-bar p {
  float: left;
}
.home-list-wrap .user-bar img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 25px;
}
.home-list-wrap .user-bar p {
  line-height: 100px;
  margin-left: 10px;
}
.home-list-wrap .list-header {
  height: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222));
  background: -webkit-linear-gradient(#555555, #222222);
  background: -moz-linear-gradient(#555555, #222222);
  background: -ms-linear-gradient(#555555, #222222);
  background: -o-linear-gradient(#555555, #222222);
  background: linear-gradient(#555555, #222222);
  line-height: 48px;
  position: relative;
  font-size: 20px;
  justify-content: center;
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.home-list-wrap .list-header .search-btn {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #000;
  top: 9px;
  right: 10px;
  background: url('../img/search_icon.png') no-repeat;
  background-position: center;
  background-size: 14px 14px;
}
.home-list-wrap .list-header .new-btn {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #000;
  top: 9px;
  left: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}
.home-list-wrap .new-search-bar {
  height: 44px;
  background: #666;
}
.home-list-wrap .new-search-bar .new-search-input {
  width: 80%;
  height: 36px;
  border-radius: 4px;
  border: none;
  margin: 4px;
  text-indent: 8px;
  color: #333;
  font-size: 18px;
}
.home-list-wrap .new-search-bar .new-search-btn {
  padding: 6px;
  border-radius: 4px;
  border: none;
  margin-left: 2px;
}
.home-list-wrap .list-body-wrap {
  position: relative;
  height: 400px;
  overflow-y: auto;
}
.home-list-wrap .list-body {
  padding: 0;
}
.home-list-wrap .list-body li {
  cursor: pointer;
  line-height: 60px;
  border-color: #ccc;
  background: #f1f1f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background: -webkit-linear-gradient(white, #f1f1f1);
  background: -moz-linear-gradient(white, #f1f1f1);
  background: -ms-linear-gradient(white, #f1f1f1);
  background: -o-linear-gradient(white, #f1f1f1);
  background: linear-gradient(#ffffff, #f1f1f1);
  vertical-align: middle;
  font-size: 0;
}
.home-list-wrap .list-body li img {
  margin-top: -6px;
  margin-left: 6px;
  height: 40px;
  width: 40px;
}
.home-list-wrap .list-body li span {
  font-size: 20px;
  color: #000;
  margin-left: 10px;
}
.right-wrap {
  float: left;
  margin: 114px 0 0 100px;
  width: 600px;
  height: 448px;
}
.right-wrap .chat-panel-header {
  height: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222));
  background: -webkit-linear-gradient(#555555, #222222);
  background: -moz-linear-gradient(#555555, #222222);
  background: -ms-linear-gradient(#555555, #222222);
  background: -o-linear-gradient(#555555, #222222);
  background: linear-gradient(#555555, #222222);
  line-height: 48px;
  position: relative;
  font-size: 20px;
  justify-content: center;
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.right-wrap .chat-panel-header .close-chat-btn {
  position: absolute;
  cursor: pointer;
  height: 30px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid #000;
  top: 9px;
  left: 10px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}
.right-wrap .user-list{
width: 120px;
height: 400px;
position: absolute;
top: 0;
right: -120px;
overflow-y: auto;
}
.user-list .wrap{
  height: 350px;
  overflow-y: auto;
}
.user-list .header{
  line-height: 48px;
  text-align: center;
  background: #41AF9B;
  border-radius: 0 8px 0 0;
  font-size: 20px;
}
.user-list ul{
  border-radius: 0 14px 0 0 ;
}
.user-list li{
background: whitesmoke;
border-bottom:1px solid #e3e3e3; 
line-height: 44px;
color: #000;
font-size: 16px;
text-align: center;
}
.right-wrap .chat-panel-header .open-online-user-btn{
 position: absolute;
  cursor: pointer;
  height: 30px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #000;
  top: 9px;
  left: 510px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
}
.right-wrap .chat-panel-body {
  height: 350px;
  background: #000;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.right-wrap .chat-panel-body .chat-content-panel .content-li {
  padding-left: 18px;
}
.right-wrap .chat-panel-body .chat-content-panel .content-li .chat-content {
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(white, #e1e1e1));
  background: -webkit-linear-gradient(white, #e1e1e1);
  background: -moz-linear-gradient(white, #e1e1e1);
  background: -ms-linear-gradient(white, #e1e1e1);
  background: -o-linear-gradient(white, #e1e1e1);
  background: linear-gradient(#ffffff, #e1e1e1);
  display: inline-block;
  min-height: 16px;
  max-width: 50%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px 15px;
  word-break: break-all;
  box-shadow: 1px 1px 5px #000;
  line-height: 1.4;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}
.right-wrap .chat-panel-footer {
  height: 50px;
  background: linear-gradient(#666666, #222222);
  position: relative;
  justify-content: center;
  align-items: center;
}
.right-wrap .chat-panel-footer .chat-input {
  width: 70%;
  height: 32px;
  padding: 5px 10px;
  border-radius: 8px;
  color: #333;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background: #f9f9f9;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
  resize: none;
  max-height: 80px;
  overflow: hidden;
  border: 0;
  outline: 0;
  -webkit-user-modify: read-write-plaintext-only;
}
.right-wrap .chat-panel-footer .send-btn {
  position: absolute;
  right: 10px;
  top: 5px;
  height: 40px;
  border-color: #5f9cc5;
  background: #396b9e;
  background: -webkit-gradient(linear, left top, left bottom, from(#5f9cc5), to(#396b9e));
  background: -webkit-linear-gradient(top, #5f9cc5, #396b9e);
  background: -moz-linear-gradient(top, #5f9cc5, #396b9e);
  background: -ms-linear-gradient(top, #5f9cc5, #396b9e);
  background: -o-linear-gradient(top, #5f9cc5, #396b9e);
  background: linear-gradient(top, #5f9cc5, #396b9e);
  -webkit-text-shadow: 0 1px 1px #194b7e;
  -moz-text-shadow: 0 1px 1px #194b7e;
  text-shadow: 0 1px 1px #194b7;
  border-radius: 4px;
  padding: 6px 10px!important;
  display: block!important;
}
.right-wrap .user-list-wrap {
  position: absolute;
  width: 600px;
  height: 350px;
  background-color: #ededed;
  top: 48px;
  left: 0;
  overflow-y: auto;
}
.user-list-wrap ul {
border-bottom: 1px solid #e3e3e3;
}
.user-list-wrap li {
  height: 60px;
  line-height: 60px;
  color: #000;
  font-size: 20px;
  padding-left: 20px;
  border-color: #ccc;
  cursor: pointer;
  background: #f1f1f1;
  background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f1f1f1));
  background: -webkit-linear-gradient(white,#f1f1f1);
  background: -moz-linear-gradient(white,#f1f1f1);
  background: -ms-linear-gradient(white,#f1f1f1);
  background: -o-linear-gradient(white,#f1f1f1);
  background: linear-gradient(#fff,#f1f1f1);
}
/*loading*/
.spinner {
  width: 30px;
  height: 30px;
  position: absolute;
}
.container1 > div, .container2 > div, .container3 > div {
width: 10px;
height: 10px;
background-color: #0cce70;
border-radius: 100%;
position: absolute;
-webkit-animation: bouncedelay 1.2s infinite ease-in-out;
animation: bouncedelay 1.2s infinite ease-in-out;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
.spinner .spinner-container {
position: absolute;
width: 100%;
height: 100%;
z-index: 999;
}
.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
 
.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
 
.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }
 
.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
 
.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
 
.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
 
.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
 
.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
 
.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
 
.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
 
.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
 
.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
 
.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
 
.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
 
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.room-list-loading, .user-list-loading{
  top:30px;
  left: 50%;
  margin-left: -30px;
}




.popup-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
}
.popup-wrap .panel-layer{
  position: absolute;
  height:480px;
  width: 418px;
  background-color: #eff3f7;
  top: 50%;
  left: 50%;
  margin-left: -209px;
  margin-top: -240px;
  border-radius: 8px;
}
.panel-layer header{
  line-height: 34px;
  background-color: #DDE1E6;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #ccd1d8;
  padding-left: 8px;
}
.panel-layer .panel-close-btn {
  float: right;
  line-height: 34px;
  width: 50px;
  text-align: center;
  cursor: pointer;
}










